EXPO_PUBLIC_APP_NAME=Frenk
EXPO_PUBLIC_APP_SLUG=frenk
EXPO_PUBLIC_APP_SCHEME=frenk
EXPO_PUBLIC_APP_DOMAIN=
EXPO_PUBLIC_WEB_URL=
EXPO_PUBLIC_SUPPORT_EMAIL=
EXPO_PUBLIC_LEGAL_ENTITY_NAME=
EXPO_PUBLIC_IOS_BUNDLE_ID=com.borisnezlobin.people
EXPO_PUBLIC_ANDROID_PACKAGE=com.borisnezlobin.people
EXPO_PUBLIC_EAS_PROJECT_ID=
EXPO_PUBLIC_IOS_PROTECTED_CAPABILITIES=true
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
